@media (max-width: 650px) {
    body {
        font-size: 16px;
    }

    .inicial{
        flex-direction: column;
        padding: 30px 0;
    }

    .conteudo {
        font-size: 16px;
        max-width: 350px;
    }

    .conteudo .padrao-1 img {
        width: 330px;
    }

    .conteudo .padrao-2 img {
        width: 180px;
    }

    .conteudo .logo img {
        width: 110px;
        margin: 10px;
        margin-top: -5px;
    }

    .conteudo .menu {
        margin-top: 2px;
        display: block;
        padding: 4px;
        font-size: 13px;
    }

    .conteudo h2 {
        display: block;
        font-size: 1em;
        margin: 3px;
    }

    .conteudo span {
        padding-right: 5px;
        font-size: 10px;
    }

    p {
        font-size: 14px;
        width: auto;
        height: auto;
    }
}
